<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraSR Upscaler</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/img-comparison-slider@7/dist/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@7/dist/styles.css">
</head>

<body>
    <h1>AuraSR Upscaler</h1>
    <div class="input-bar">
        <input type="file" id="imageInput" name="file" accept="image/*" onchange="enableSubmitButton()">
        <button id="submitButton" disabled hx-post="/upscale" hx-trigger="click" hx-target="#comparison"
            hx-swap="innerHTML" hx-encoding="multipart/form-data">Submit</button>
        <button id="downloadButton" style="display: none;" onclick="downloadImage()">Download Image</button>
    </div>
    <div id="comparison" class="comparison-container">
        <img id="originalImage" src="" alt="Original Image">
    </div>

    <script src="/static/script.js"></script>
</body>

</html>